<div  [style.visibility]="(resolved === false) ? 'hidden' : 'visible' ">
  <!-- row 1 -->
  <!-- <div class="relative flex flex-col min-w-0 break-words shadow-soft-2xl bg-white rounded-2xl mb-1 bg-clip-border">
    <div class="flex-auto p-6"> -->
  <div style="position:-webkit-sticky; position:sticky; top:0;z-index:100;"
    class="relative flex flex-col mb-4 min-w-0 break-words bg-white shadow-soft-lg rounded-2xl bg-clip-border">
    <div class="flex-auto p-1">
      <div class="wrapper">
        <h5 class="typing-demo">CHECK INSPECTION LUBRICATION TIGHTENING
        </h5>
      </div>
    </div>
  </div>
</div>
<div  [style.visibility]="(resolved === true) ? 'hidden' : 'visible' ">
  <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-beat">
    <p style="font-size: 20px; color: white">{{deskripsi}}</p>
  </ngx-spinner>
</div>
